<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.subtitle }}">
  <link rel="icon" type="image/png" sizes="196x196" href="{{ site.baseurl }}/img/favicon.png?1">

  <link href="{{ site.baseurl }}/css/mofo-bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,300i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,500,600">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 p-t-2">
        <div class="sidebar-header">
          <a href="{{ site.baseurl }}/">
            <!-- <img src="{{ site.baseurl }}/images/moz-logo-main-rgb.png" alt="Mozilla" class="moz-logo" /> -->
            <h2>{{ site.title }}</h2>
          </a>
        </div>
        <hr class="hr-gradient m-t-1"/>
      </div>
    </div>
  </div>
  <div class="container" style="min-height: calc(100vh - 272px);">
    <div class="row">
      {% assign post_count = site.posts|size %}
      <div id="navigation" class="col-md-3 col-xs-12 sidebar" role="navigation">
        {% include navigation.html %}
      </div>
      <div id="content" class="col-md-9 col-xs-12">
        {{ content }}

        {% comment %} {% if page.previous.url or page.next.url %}
        <div class="next-prev">
          {% if page.previous.url %}
            <div class="wrapper">
              <div class="arrow">←</div>
              <div>Previous: <a class="prev" href="/web-lit-core{{page.previous.url}}">{{page.previous.title}}</a></div>
            </div>
          {% endif %}
          {% if page.next.url %}
            <div class="wrapper">
              <div>Next: <a class="next" href="/web-lit-core{{page.next.url}}">{{page.next.title}}</a></div>
              <div class="arrow">→</div>
            </div>
          {% endif %}
        </div>
      {% endif %} {% endcomment %}

            <!-- <p class="help-us">
                <edit></edit>
                Help us improve content and
                <a target="_blank" href="{{ site.github.base }}/{{ site.github.repo }}/edit/{{ site.github.branch }}/{{ page.path }}">suggest changes</a> to this page.
              </p> -->
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            {% include footer.html %}
          </div>
        </div>
        <script>
        (function enableSmoothAnchorScrolling() {
          if (document.getElementById('autotoc')) {
            document.getElementsByClassName('lesson-content')[0].childNodes.forEach(node => {
              switch (node.tagName) {
                case 'H3':
                case 'H4':
                case 'H5':
                let a = document.createElement("a");
                a.className = 'jump-link';
                a.innerHTML = node.innerHTML;
                a.href = "#"+node.id;
                let li = document.createElement("li");
                li.appendChild(a);
                li.className = node.tagName;
                document.getElementById('autotoc').appendChild(li);
                break;
              }
            })
          }
          var jumpLinks = [].slice.call(document.querySelectorAll('.jump-link'));

          jumpLinks.forEach((link) => {
            link.addEventListener('click', (event) => {
              event.preventDefault();
              var targetAnchor = link.getAttribute('href').split('#')[1];
              document.getElementById(targetAnchor).scrollIntoView({behavior: 'smooth', block: 'start'});
            });
          });
        })();

        (function enableWebAnalytics() {
         var _dntStatus = navigator.doNotTrack || navigator.msDoNotTrack;
         var fxMatch = navigator.userAgent.match(/Firefox\/(\d+)/);
         var ie10Match = navigator.userAgent.match(/MSIE 10/i);
         var w8Match = navigator.appVersion.match(/Windows NT 6.2/);
         if (fxMatch && Number(fxMatch[1]) < 32) {
          _dntStatus = 'Unspecified';
        } else if (ie10Match && w8Match) {
         _dntStatus = 'Unspecified';
       } else {
        _dntStatus = { '0': 'Disabled', '1': 'Enabled' }[_dntStatus] || 'Unspecified';
      }
      if (_dntStatus !== 'Enabled'){
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-87658599-3', 'auto');
        ga('send', 'pageview');
      }
    })();
    </script>
  </body>
  </html>
